@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:FILL@0&display=block');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Inter';
  
  -webkit-user-select: none;
  user-select: none;
}

:root {
  font-size: 100%;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;

  background: #222222;

  padding: 0.6rem;
  gap: 0.6rem;
}

.panels {
  display: flex;
  height: 100%;
  gap: 0.6rem;
}

.panels > * {
  background: #181818;
  border-radius: 0.4rem;
  width: 100%;
}

/* -----[ MAIN PANEL ]----- */

.main-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

#screen {
  border-radius: 0.25rem;
  background: black;
  box-shadow: 0 0.1rem .5rem #00000030;
  image-rendering: pixelated;

  cursor: pointer;
  height: 90%;
  aspect-ratio: 1;
}

/* -----[ SIDE PANEL ]----- */

.side-panel {
  width: 20rem;
  padding: 5px;
  
  display: flex;
  flex-direction: column;

  gap: 0.4rem;
}

.side-panel * {
  gap: .25rem;
}

.side-panel .picker {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.side-panel button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 3rem;
  
  border: none;
  border-radius: calc(0.6rem - 5px);

  font-size: 105%;

  transition-duration: 50ms;
  transition-property: filter, scale;

  color: #C0C0C0;
  background: #242424;
  box-shadow: 0 0.1rem 0.25rem #00000020;
  cursor: pointer;
}

.side-panel button * {
  height: 60%;
}

.side-panel button:hover {
  filter: brightness(1.2);
}

.side-panel button.selected {
  filter: brightness(1.4);
}

.side-panel button:active {
  filter: brightness(0.95);
  scale: 0.95;
  box-shadow: none;
}

/* -----[ SIDEBAR ]----- */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: unset;
  width: min-content;
}

.sidebar > * {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.sidebar button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 2.2rem;
  height: 2.4rem;

  font-family: "Material Symbols Rounded";
  font-size: 1.5rem;
  color: #A0A0A0;
  
  border: none;
  border-radius: 0.4rem;

  transition-duration: 50ms;
  transition-property: color, background, scale;

  background: transparent;
  cursor: pointer;
}

.sidebar button:hover {
  background: #303030;
  color: #F0F0F0;
}

.sidebar button:active {
  background: #141414;
  color: #808080;
}

.sidebar button.selected {
  background: #1D1D1D;
  border: 2px solid #303030;
}